In [29]:
import pandas as pd

# Load file

In [30]:
data = pd.read_csv(r"C:\Vasanthan\Report\Delivery Performance\Automation\Input\Source 1.csv")

## Find Data type

In [31]:
type(data)

pandas.core.frame.DataFrame

## Find Rows & Columns Count

In [32]:
data.shape

(12, 16)

## Find Overall Data type

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   PO                   12 non-null     int64
 1   Product Group        0 non-null      float64
 2   Class                12 non-null     int64
 3   MCID                 12 non-null     object
 4   PID Type             12 non-null     object
 5   Actual Ship Date     12 non-null     object
 6   Ship Period          0 non-null      float64
 7   Qty                  12 non-null     int64
 8   IO Booked Dt(First)  0 non-null      float64
 9   IO Booked Dt(Last)   0 non-null      float64
 10  Booked Dt            0 non-null      float64
 11  Promise Dt (first)   0 non-null      float64
 12  Promise Dt (last)    0 non-null      float64
 13  Receipt Dt           0 non-null      float64
 14  PO Creation Dt       0 non-null      float64
 15  Delivery vs Orig PD  0 non-null      float64
dtypes: float64(10), int64(3), object(3)
memory usage: 1.6+ KB

## Get Attributes

In [34]:
data.describe()

,PO,Product Group,Class,Ship Period,Qty,IO Booked Dt(First),IO Booked Dt(Last),Booked Dt,Promise Dt (first),Promise Dt (last),Receipt Dt,PO Creation Dt,Delivery vs Orig PD
count,1.200000e+01,0.0,12.000000,0.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,6.983601e+06,NaN,5110.666667,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,1.776449e+07,NaN,2276.119079,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,5.022530e+05,NaN,2018.000000,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,8.312370e+05,NaN,2051.000000,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,8.368470e+05,NaN,6623.000000,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.166051e+06,NaN,6664.500000,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,6.246470e+07,NaN,6688.000000,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Show top 5 rows

In [35]:
data.head()

,PO,Product Group,Class,MCID,PID Type,Actual Ship Date,Ship Period,Qty,IO Booked Dt(First),IO Booked Dt(Last),Booked Dt,Promise Dt (first),Promise Dt (last),Receipt Dt,PO Creation Dt,Delivery vs Orig PD
0,830422,NaN,6658,6658MC103,M,01-23-2025,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,839438,NaN,2018,2018MC593,M,01-24-2025,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,831237,NaN,6623,6623MC3654,M,01-24-2025,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,831238,NaN,6623,6623MC3654,M,01-24-2025,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,62464701,NaN,6684,6684MC9742,M,01-23-2025,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Show last 5 rows

In [36]:
data.tail()

,PO,Product Group,Class,MCID,PID Type,Actual Ship Date,Ship Period,Qty,IO Booked Dt(First),IO Booked Dt(Last),Booked Dt,Promise Dt (first),Promise Dt (last),Receipt Dt,PO Creation Dt,Delivery vs Orig PD
7,838900,NaN,2018,2018MC572,M,01-21-2025,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,839432,NaN,2018,2018MC593,M,01-24-2025,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,834794,NaN,6688,6688MC2667,M,01-24-2025,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,831237,NaN,6623,6623MC3654,M,01-24-2025,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,502253,NaN,6684,6684MC9007,M,01-21-2025,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## see blanks in columns

In [37]:
data.isnull().sum()

PO                      0
Product Group          12
Class                   0
MCID                    0
PID Type                0
Actual Ship Date        0
Ship Period            12
Qty                     0
IO Booked Dt(First)    12
IO Booked Dt(Last)     12
Booked Dt              12
Promise Dt (first)     12
Promise Dt (last)      12
Receipt Dt             12
PO Creation Dt         12
Delivery vs Orig PD    12
dtype: int64

## Write Excel file

In [ ]:
data.to_csv(r'C:\Vasanthan\Report\Delivery Performance\Automation\Input\Source 1.csv', index=False)