In [5]:
### Lead time
import pandas as pd

import pyodbc

# Define the connection string
conn_str = (
    r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};'
    r'DBQ=E:\RACE\RACE_GLOBAL\MCID_TAGGING_NAMES.accdb;'
)

# Establish the connection
conn = pyodbc.connect(conn_str)

# Query the data
query = 'SELECT * FROM [MCID_by_feature_TABLE]'
MCID_by_feature_TABLE = pd.read_sql(query, conn)


# Close the connection
conn.close()

C:\Users\vv185114\AppData\Local\Temp\3\ipykernel_1724\2586584620.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  MCID_by_feature_TABLE = pd.read_sql(query, conn)

In [6]:
# Load the text file into a DataFrame
OSS = pd.read_csv(r'E:\_Projects\MCID Tagging\Input\OSS.txt', delimiter='|')  # Adjust the delimiter as needed


####################################################
# A-01-Order MCID update

OSS['CLASS']  = OSS['CLASS'].astype(str)

OSS = OSS[~OSS['INVENTORY_ITEM'].str.contains('%M%|-R000|F000|-C', regex=True)]

OSS = OSS.drop_duplicates(subset=['CLASS'], keep='first')

IA_01_OSS_02_Class = OSS[['CLASS']]

In [22]:
import pandas as pd

# Assuming the data is loaded into DataFrames
EUM_OCP_IA = pd.read_excel(r'E:\_Projects\MCID Tagging\Input\OCP_IA_EUMOCP.xlsx')  # Replace with actual data loading

Country_mapping = pd.read_csv(r'E:\_Projects\MCID Tagging\Input\Country_mapping.csv') # Replace with actual data loading
TT_SIT_II = pd.read_csv(r'E:\_Projects\MCID Tagging\Output\LT.csv') # Replace with actual data loading
Order_MCID = pd.read_excel(r'E:\_Projects\MCID Tagging\Input\Order MCID.xlsx') # Replace with actual data loading
 # Replace with actual data loading





OSS = pd.read_csv(r'E:\_Projects\MCID Tagging\Input\OSS.txt', delimiter='|')  # Adjust the delimiter as needed

  # Replacercwith actual data l.xlsxoading

# First Query
IA_01_EUM_OCP_IA_Q = EUM_OCP_IA[EUM_OCP_IA['PID'].str.contains('M')]
IA_01_EUM_OCP_IA_Q = IA_01_EUM_OCP_IA_Q.merge(IA_01_OSS_02_Class, left_on='Class',right_on='CLASS', how='inner')


# Second Query
IA_06_OSS_country_mapping_update = IA_01_EUM_OCP_IA_Q.copy()
IA_06_OSS_country_mapping_update = IA_06_OSS_country_mapping_update.merge(Country_mapping, left_on='Whse', right_on='ORg', how='left')
#print(IA_06_OSS_country_mapping_update.columns)
IA_06_OSS_country_mapping_update['Whse_1'] = IA_06_OSS_country_mapping_update.apply(
    lambda row: row['Whse'] if pd.isnull(row['Country_code']) else row['Country_code'], axis=1)
IA_06_OSS_country_mapping_update['Expr1'] = IA_06_OSS_country_mapping_update.apply(
    lambda row: row['Region'] if pd.isnull(row['Region']) else row['Region'], axis=1)

# Third Query
TT_SIT_II['Class'] = TT_SIT_II['Class'].astype(str)
IA_06_OSS_country_mapping_update['Class'] = IA_06_OSS_country_mapping_update['Class'].astype(str)

IA_07_Country_sourcing = IA_06_OSS_country_mapping_update.merge(TT_SIT_II, left_on=['Whse_1', 'Class'], right_on=['Country Code', 'Class'], how='left')

IA_07_Country_sourcing.rename(columns={'Region_x': 'Region'}, inplace=True)
print(IA_07_Country_sourcing.columns)


IA_07_Country_sourcing = IA_07_Country_sourcing[['Plant', 'Class', 'Region', 'Whse']]

# Fourth Query
source_rule_local_update = IA_07_Country_sourcing.copy()
source_rule_local_update['Final_plant'] = source_rule_local_update.apply(
    lambda row: row['Plant'] if pd.notnull(row['Plant']) else row['Plant'], axis=1)
source_rule_local_update = source_rule_local_update[['Class', 'Region', 'Final_plant', 'Whse']]

# Fifth Query
OSS_restriction_feature_w_MCID = Order_MCID.merge(MCID_by_feature_TABLE, on='PID', how='left')
OSS_restriction_feature_w_MCID = OSS_restriction_feature_w_MCID.merge(OSS, left_on='PID', right_on='INVENTORY_ITEM', how='left')
OSS_restriction_feature_w_MCID = OSS_restriction_feature_w_MCID[
    ~OSS_restriction_feature_w_MCID['PID'].str.contains('R000|MC')]
OSS_restriction_feature_w_MCID = OSS_restriction_feature_w_MCID[
    ['PID', 'DESCRIPTION', 'MCID', 'Ennoconn', 'Budapest', 'Chennai (Dummy)', 'Chennai (Primary)', 
     'Chennai (Secondary)', 'Columbus', 'Dundee (NPI)', 'Easypoint', 'Jabil', 'Manaus', 
     'Midland', 'Sao Paulo', 'Shiloh (Dummy)', 'Waterloo']]



# Sixth Query

IA_01_EUM_OCP_IA_Q.drop_duplicates(inplace=True)
source_rule_local_update.drop_duplicates(inplace=True)
OSS_restriction_orders = IA_01_EUM_OCP_IA_Q.merge(source_rule_local_update, left_on=['Class', 'Whse'], right_on=['Class', 'Whse'], how='left')
OSS_restriction_orders = OSS_restriction_orders.merge(OSS_restriction_feature_w_MCID, left_on='PID', right_on='MCID', how='left')

# Apply the condition for the final query
def condition(row):
    if row['Final_plant'] == "CHE":
        return pd.isnull(row['Chennai (Primary)'])
    elif row['Final_plant'] == "CHS":
        return pd.isnull(row['Chennai (Secondary)'])
    elif row['Final_plant'] == "EC":
        return pd.isnull(row['Ennoconn'])
    elif row['Final_plant'] == "JAB":
        return pd.isnull(row['Jabil'])
    else:
        return True

OSS_restriction_orders = OSS_restriction_orders[OSS_restriction_orders.apply(condition, axis=1)]

# The resulting DataFrame is:
# OSS_restriction_orders
OSS_restriction_orders.to_csv(r'E:\_Projects\MCID Tagging\oss.csv',index=False)
print(OSS_restriction_orders)

Index(['Demand', 'Region', 'SO Ship Org', 'Org Code', 'Area', 'Org Name',
       'DEMAND VAL', 'Line Number', 'Customer_End Customer', 'CDP', 'CIS',
       'Booked Dt', 'Request Dt', 'PD_Order', 'Ship Date', 'SAD',
       'Inv Trigger', 'Product Range', 'Class', 'PID', 'PID Desc', 'PID Type',
       'Open Qty', 'Res Qty', 'OH Qty', 'Supply Qty', 'ERP Line Status',
       'Whse', 'IR No.', 'IO No.', 'IO BOOKED DATE', 'IO SSD', 'IO SAD',
       'Validation Flag', 'Supply Type', 'Supply Detail', 'PD_PO',
       'Buyer Name', 'Supplier', 'MakeBuy', 'Demand Class', 'Seiban Number',
       'WOT Quote', 'Customer PO', 'CRSD', 'CRSD Miss', 'Ship Set', 'PRD',
       'Order Type', 'Hold Type', 'Hold Name', 'LOB', 'Ship To Customer Name',
       'Ship To Address1', 'Ship To Address2', 'Ship To City', 'Ship To State',
       'Ship To Zip', 'Intmed Ship To', 'Intmed Ship To Address1',
       'Intmed Ship To City', 'Intmed Ship To State', 'Intmed Ship To Zip',
       'Salesperson', 'Complex Staging Flag', 'SSID', 'CCHold',
       'Hardware Package', 'Master Customer Number', 'PO Age',
       'Order Bklg Value-USD', 'Plant Ship date', 'NEED BY DATE', 'SALES ORG',
       'SALES ORG_DESC', 'CLASS', 'ORg', 'Country_code', 'Region_', 'Whse_1',
       'Expr1', 'Region_y', 'Country Code', 'Country Name', 'Zone',
       'Prod Range', 'Prod Range Description', 'SIT_TOOL', 'Plant',
       'Default-Ship-Meth', 'Sea', 'Land', 'Air', 'Unit LT', 'Kit LT'],
      dtype='object')
              Demand Region_x SO Ship Org Org Code           Area  \
0              Order      CLA          CL       CL     Chile Peru
1              Order      CLA          CL       CL     Chile Peru
2              Order      CLA          CL       CL     Chile Peru
3              Order      CLA          CL       CL     Chile Peru
4              Order      CLA          CL       CL     Chile Peru
...              ...      ...         ...      ...            ...
20525  Order Pre Bld    NAMER         UF2       US  United States
20526  Order Pre Bld    NAMER         UF2       US  United States
20527  Order Pre Bld    NAMER         UF2       US  United States
20528          Order    NAMER         UF2       US  United States
20529          Order    NAMER         UF2       US  United States

                                          Org Name  DEMAND VAL  Line Number  \
0                                  Chile Inventory       16279          1.1
1                                  Chile Inventory       16297          1.1
2                                  Chile Inventory       16298          1.1
3                                  Chile Inventory       16299          1.1
4                                  Chile Inventory       16300          1.1
...                                            ...         ...          ...
20525  United States Distribution Center Inventory    62444298          1.1
20526  United States Distribution Center Inventory    62444298          1.1
20527  United States Distribution Center Inventory    62444298          1.1
20528  United States Distribution Center Inventory    62455885          1.1
20529  United States Distribution Center Inventory    62455885          1.1

       Customer_End Customer                   CDP  ... Chennai (Secondary)  \
0          BRINKS CHILE S.A.         ARIAS  HERNAN  ...                 NaN
1      BANCO SANTANDER CHILE         ARIAS  HERNAN  ...                 NaN
2      BANCO SANTANDER CHILE         ARIAS  HERNAN  ...                 NaN
3      BANCO SANTANDER CHILE         ARIAS  HERNAN  ...                 NaN
4      BANCO SANTANDER CHILE         ARIAS  HERNAN  ...                 NaN
...                      ...                   ...  ...                 ...
20525    JPMORGAN CHASE BANK      WHISNANT  ALAYNE  ...                 NaN
20526    JPMORGAN CHASE BANK      WHISNANT  ALAYNE  ...                 NaN
20527    JPMORGAN CHASE BANK      WHISNANT  ALAYNE  ...                 NaN
20528  Cardtronics USA, Inc.  HORBAY  SARAH ALLYSE  ...                 NaN
20529  Cardtronics USA, Inc.  HORBAY  SARAH ALLYSE  ...                 NaN

      Columbus Dundee (NPI) Easypoint Jabil Manaus Midland Sao Paulo  \
0          NaN          NaN       NaN   NaN    NaN     NaN       NaN
1          NaN          NaN       NaN   NaN    NaN     NaN       NaN
2          NaN          NaN       NaN   NaN    NaN     NaN       NaN
3          NaN          NaN       NaN   NaN    NaN     NaN       NaN
4          NaN          NaN       NaN   NaN    NaN     NaN       NaN
...        ...          ...       ...   ...    ...     ...       ...
20525      NaN          NaN       NaN   NaN    NaN     NaN       NaN
20526      NaN          NaN       NaN   NaN    NaN     NaN       NaN
20527      NaN          NaN       NaN   NaN    NaN     NaN       NaN
20528      NaN          NaN       NaN   NaN    NaN     NaN       NaN
20529      NaN          NaN       NaN   NaN    NaN     NaN       NaN

      Shiloh (Dummy) Waterloo
0                NaN      NaN
1                NaN      NaN
2                NaN      NaN
3                NaN      NaN
4                NaN      NaN
...              ...      ...
20525            NaN      NaN
20526            NaN      NaN
20527            NaN      NaN
20528            NaN      NaN
20529            NaN      NaN

[20530 rows x 95 columns]